{% extends 'shared/base.html' %}
{% block content %}
<div class="container text-center">
    <form action="" method="post">
        {% csrf_token %}
        <div class="card text-bg-primary mb-3" style="max-width: 40rem; margin: 4rem auto;">
            <div class="card-title">
                <h5 class="card-title">Confirm Deletion</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Are you sure to delete the car "{{ object.brand }} {{ object.model }}"?</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'cars_view' %}" class=" btn btn-warning">Cancel</a>
                <button type="submit" class=" btn btn-danger">I'm sure, delete.</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}