{% extends 'shared/base.html' %}
{% block content %}
<style>
    div.input-group{
        margin-bottom: 1rem;
    }
</style>
<div class="container-lg mx-auto mt-2">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
            <span class="input-group-text w-25">Brand and Model</span>
            {{ form.brand }}
            {{ form.model }}
        </div>
        <div class="input-group">
            <span class="input-group-text w-25">Factory and Model Year</span>
            {{ form.factory_year }}
            {{ form.model_year }}
        </div>
        <div class="input-group">
            <span class="input-group-text w-25">Plate</span>
            {{ form.plate }}
        </div>
        <div class="input-group">
            <span class="input-group-text w-25">Description</span>
            {{ form.description }}
        </div>
        <div class="input-group">
            <span class="input-group-text w-25">Value</span>
            <span class="input-group-text">$</span>
            {{ form.value }}
            <span class="input-group-text">.00</span>
        </div>
        <div class="mb-3">
            <span class="input-group-text w-100">Photo</span>
            {{ form.photo }}
        </div>
        <button class="btn btn-outline-warning" value="Update">UPDATE</button>
    </form>
</div>
{% endblock %}